
:root {
	--basic-white: #FFFFFF;
	--basic-grey: #EEEEEE;
	--basic-blue: #81B3D2;
	--basic-brown: #766357;
	--basic-dark: #333333;
	--basic-black: #000000;

	--special-blue: #669EC0;
	--special-dark-blue: #5496BD;
	--special-light-grey: #F2F2F2;
	--special-middle-grey: #EBEBEB;
	--special-brown: #666666;
	--special-grey: #E5E5E5;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-dark);
	text-transform: uppercase;
	background-color: var(--basic-grey);

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	box-shadow:0 7px 15px 8px rgba(60, 65, 62, 0.25);
}

.clear-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.slogan {
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.main-header {
	position: relative;
}

.main-navigation {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.main-header-logo {
    position: absolute;
    left: 50%;
    width: 138px;
    height: 70px;
	transform: translateX(-50%);
	z-index: 10;
}

 .site-navigation {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	width: 100%;
	max-width: 1200px;
	font-size: 14px;
	line-height: 26px;
	list-style: none;
	padding: 0 16px;
}

.navigation-item {
	padding: 15px 0;
}

.navigation-item:nth-child(2) {
	text-align: left;
	padding-left: 82px;
}

.navigation-item:nth-child(3) {
	text-align: right;
	padding-right: 118px;
}

.navigation-item:last-child {
	padding-right: 55px;
}

.site-navigation-current a:not([href]) {
	background-color: var(--basic-white);
}

.site-navigation a {
	color: var(--basic-black);
	display: block;
}

.site-navigation a :hover{
	color: var(--basic-blue);
}

.site-navigation a:focus{
	color: var(--basic-grey);
}

.sedona-banner {
	position: relative;
	background-image: url(img/background-photo.jpg);
	width: 100%;
	height: 509px;
	background-color: var(--basic-blue);
}

.sedona-banner::after {
	content: url("img/corner.svg");
	position: absolute;
	z-index: 10;
	bottom: -7px;
	left: 0;
	width: 100%;
}

.mountains {
	background-color: var(--basic-blue);
}

.welcome-banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.slogan-block {
	width: 100%;
	padding-top: 42px;
	padding-bottom: 55px;
	margin-top: 0px;
	background-color: var(--basic-white);
}

.slogan {
	margin: 0;
	padding: 0px 365px;
}

.five-reasons-text {
	margin: 0;
	margin-top: 46px;
}

.information-item-text {
	padding-top: 47px;
	padding-bottom: 54px;
	text-align: center;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
}

.landmark {
	padding: 0 125px;
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 21px
}

.information-item-text p{
	padding: 0 49px;
	margin: 24px 0;
	font-weight: normal;
}

.information-item {
	display: flex;
	height: 256px;
}

.informatiom-item h3 {
	font-size: 21px;
	line-height: 21px;
}

.lifehack-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	padding-top: 60px;
	padding-bottom: 57px;
	padding-right: 50px;
	padding-left: 51px;
	background-color: var(--basic-white);
	color: var(--basic-dark);
}

.house {
	position: relative;
}

.house::before {
	content: url(img/icon-house.svg);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.burger {
	position: relative;
}

.burger::before {
	content: url(img/icon-burger.svg);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.present {
	position: relative;
}

.present h3 {
	margin: 15px;
}

.present::before {
	content: url(img/icon-present.svg);
	position: relative;
	top: -7px;
	left: 0;
	width: 100%;
}

.lifehack-item p {
	margin: 26px auto;
}

.lifehack-item h3 {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}

.features-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 115px;
	padding-top: 24px;
	padding-bottom: 44px;
	padding-right: 59px;
	padding-left: 58px;
	box-sizing: border-box;
}

.features-item {
	text-align: center;
}

.features-item h3 {
	padding: 0 80px;
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}

.features-item p{
	margin: 25px 0;
	padding: 0 11px;
}

.features-item:last-child {
	padding: 0 5px;
}

.search {
	margin: 0 auto;
	padding: 40px;
	background-color: var(--basic-white);
}

.search h2 {
	margin: 0 auto;
	padding-right: 12px;
	color: var(--basic-black);
	font-size: 30px;
	line-height: 24px;
}

.search-info {
	margin-top: 38px;
	margin-bottom: 46px;
}

.search-hostel {
	padding: 29px 157px;
    margin: 0px auto;
    border-style: none;
    margin-bottom: 0;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
}

.search-hostel:hover {
	background-color: #604E43;
}

.search-hostel:focus {
	color: #604E43;
	background-color: #503E33;
}

.calendar {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	margin: 0 auto;
	max-width: 568px;
	background-color: var(--basic-white);
}

.calendar-form {
	position: absolute;
	top: 100%;
	z-index: 10;
	padding: 55px;
	box-sizing: border-box;
	background-color: var(--basic-white);
}

.wrapper-input label {
	margin-right: 27px;
}

.wrapper-input {
	display: flex;
    align-items: center;
	position: relative;
	margin-bottom: 28px;
}

.calendar-date-input {
	flex-grow: 1;
	width: 270px;
	height: 38px;
	padding: 0px 9px;
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: var(--special-light-grey);
	border: none;
	position: relative;
}

.calendar-icon {
	position: absolute;
	right: 0;
	width: 21px;
	height: 23px;
	background-position: 0 7px;
	padding: 8px;
	margin: 0 auto;
}

.calendar-item input:hover {
	background-color: var(--special-middle-grey);
}

.calendar-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-middle-grey);
}

.calendar-age {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 30px;
	margin-bottom: 54px;
}

.calendar-adult {
	padding-top: 11px;
	padding-right: 28px;
}

.adult-input {
	padding-top: 9px;
}

.calendar-children {
	padding-top: 9px;
	padding-left: 14px;
}

.children-input {
	padding-top: 9px;
	padding-left: 0px;
}

.calendar-age input {
	text-align: center;
	font: inherit;
	color: var(--basic-black);
	background-color: var(--special-light-grey);
	border: none;
	padding: 8px 35px;
	width: 40px;
}

.wrapper-age {
	position: relative;
	padding: 0;
	text-align: left;
}

.wrapper-age::before {
	content: "";
	position: absolute;
	z-index: 5;
	height: 5px;
	width: 5px;
	left: 4px;
	top: 0;
	background-image: url("img/minus.svg");
	background-repeat: no-repeat;
	background-position: 10px 17px;
	padding: 8px;
	margin: 0 auto;
}

.wrapper-age::after {
	content: "";
	position: absolute;
	z-index: 5;
	height: 8px;
	width: 5px;
	left: 84px;
    top: 0;
	background-image: url("img/pluse.svg");
	background-repeat: no-repeat;
	background-position: 0px 13px;
	padding: 8px;
	margin: 0 auto;
}

.children-input {
	margin-right: -16px;
}

.button {
	padding: 16px 195px;
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	background-color: var(--basic-blue);
	border: none;
}

.button:hover {
	background-color: var(--special-blue);
}

.button:active {
	background-color: var(--special-dark-blue);
}

.geo {
	position: relative;
	background-image: url(img/map.png);
	top: -40px;
	margin-bottom: -115px;
	width: 100%;
	height: 550px;
} 

.geo iframe {
	border: none;
	margin-bottom: 0;
}


.inner-page {
	color: var(--basic-dark);
	background-color: var(--basic-grey);
}

.filter {
	background-image: url(img/background.jpg);
	background-color: var(--basic-brown);
	width: 1200px;
	height: 217px;
	color: var(--basic-white);
	text-align: left; 
}

.filter-box {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	align-content: start;
}

.filter-item {
	margin: 0;
	margin-right: 25px;
	padding-left: 75px;
	border: none;
}

.filter-item legend {
	padding-top: 26px;
	padding-bottom: 24px;
	font-size: 16px;
	line-height: 21px;
}

.filter-item ul {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.checking-item label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	margin-bottom: 25px;
	padding: 0 39px;
}

.checking-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #FFFFFF;
	border-radius: 20%;
}

.checking-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 1px;
	left: 3px;
	width: 22px;
	height: 17px;
	background-image: url("img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
} 

.filter-item-range {
	margin: 0;
	padding: 0 72px;
	border: none;
}

.filter-item-range legend {
	padding-top: 26px;
	font-size: 16px;
	line-height: 21px;
}

.price-range {
	width: 317px;
	margin-top: 10px;
	font-weight: normal;
}

.price-controls {
	display: flex;
	position: relative;
	justify-content: space-around;
	width: 317px;
	height: 36px;
	border: 2px solid #FFFFFF;
	border-radius: 2%;
	
}

.price-controls label {
	font-size: 14px;
	line-height: 21px;
}

.price-borders {
	padding-left: 34px;
}

.price-controls input {
	width: 45px;
	padding: 6px 0;
	text-align: left;
	color: #FFFFFF;
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
}

.min-price::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	width: 2px;
	height: 22px;
	background-color: var(--basic-white);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.range-controls {
	position: relative;
	height: 19px;
	margin-bottom: 10px;
	padding-top: 20px;
}

.range-controls .scale {
	height: 2px;
	background: #CACACA;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #FFFFFF;
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 5px;
	height: 5px;
	padding: 0;
	border: 10px solid #FFFFFF;
	background-color: #ABABAB;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 0px;
}

.range-controls .toggle-max {
	left: 248px;
}

.filter button {
	position: absolute;
	transform: translateX(62%);
	width: 137px;
	height: 36px;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-radius: 2%;
	background: transparent;
}

.filter button:hover {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.search-results {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	padding: 9px 74px;
	margin: 0 3px;
	background-color: var(--basic-white);
}

.choose-subtitle-text {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
}

.sorting-hotel {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sorting-hotel-title {
	margin: 0 40px;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.search-results {
	border-bottom: 1px solid var(--special-grey);
	box-sizing: border-box;
}

.sorting-list {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}

.sorting-item {
	margin-right: 30px;
	color: var(--basic-blue);
}

.sorting-item a {
	color: var(--basic-grey);
}

.sorting-item a:hover {
	color: var(--basic-blue);
}

.sorting-item a:focus{
	color: var(--basic-black);
}

.triangles {
	position: relative;
	left: 488px;
	top: 4px;
}

.triangle-up {
	margin-right: 6px;
}

.hotels {
	margin-bottom: 0px;
	background-color: var(--basic-white);
}

.hotels-title {
	text-align: left;
}

.hotels-list {
	text-align: left;
}

.hotels-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 29px 73px;
	border-bottom: 1px solid var(--special-grey);
}

.hotel-image {
	align-self: center;
	width: 135px;
	height: 90px;
	margin-right: 12px; 
}

.hotel-description {
	width: 650px;
}

.hotel-description h3 {
	margin: 0;
}

.type-price {
	height: 33px;
}

.type-price td {
	padding-bottom: 13px;
}

.hotel-buttons {
	padding: 0;
	margin: 0;
}

.hotels-item h3 a{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: -8px;
	color: var(--basic-black);
	font-family: inherit;
	font-size: 21px;
	line-height: 26px;
}

.hotels-item h3:hover a{
	color: var(--basic-blue);
}

.hotels-item h3:focus a{
	color: var(--basic-grey);
}

.details-link {
	width: 110px;
	height: 27px;
	padding: 4px 14px;
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.booking-link {
	width: 142px;
	height: 27px;
	padding: 4px 17px;
	color: var(--basic-white);
	background-color: var(--basic-brown);
}

.stars {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-self: flex-start;
	width: 100px;
	margin-top: 0;
	right: -122px;
}

.star {
	margin: 0 2px;
}

.rating {
	align-self: flex-end;
	width: 90px;
	height: 21px;
	padding: 2px 9px;
	margin-bottom: 0;
	font-weight: normal;
	color: var(--special-brown);
	background-color: var(--special-grey);
}


.main-footer {
	margin-top: 0px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 10;
	color: var(--basic-black);
	background-color: var(--basic-white);
	box-sizing: border-box;
}

.main-footer .container {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
	font-size: 21px;
	line-height: 17px;
	padding-left: 73px;
}

.footer-contacts a{
	color: var(--basic-black);
	text-decoration: none;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 150px;
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 0px;
	list-style: none;
}

.social-button {
	padding: 15px;
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--special-blue);
}

.social-button:focus {
	background-color: var(--special-dark-blue);
}

.social-button svg:focus {
	opacity: 0.3;
}

.footer-copyright p {
	display: flex;
	align-items: center;
	padding-top: 24px;
    padding-left: 65px;
}

.copyright {
	width: 115px;
	height: 41px;
	margin-left: 10px;
}

.copyright:hover {
	color: var(--basic-blue);
}

.copyright:focus {
	opacity: 0.3;
}