
:root {
	--basic-white: #FFFFFF;
	--basic-grey: #EEEEEE;
	--basic-blue: #81B3D2;
	--basic-brown: #766357;
	--basic-dark: #333333;
	--basic-black: #000000;
	--basic-red: #FF0000;

	--special-blue: #669EC0;
	--special-dark-blue: #5496BD;
	--special-light-grey: #F2F2F2;
	--special-middle-grey: #EBEBEB;
	--special-brown: #666666;
	--special-grey: #E5E5E5;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-dark);
	text-transform: uppercase;
	background-color: var(--basic-grey);

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.container {
	text-align: center;
}

.slogan {
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.main-navigation {
	display: flex;
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	padding: 0 10px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.main-header-logo {
    position: absolute;
    left: 600px;
	width: 138px;
	height: 70px;
	z-index: 10;
}

.site-navigation {
	display: flex;
	width: 1200px;
	height: 70px;
	font-size: 14px;
	line-height: 26px;
	justify-content: space-around;
	margin: 0;
	list-style: none;
}

.site-navigation-current a:not([href]) {
	background-color: var(--basic-white);
}

.site-navigation a {
	color: var(--basic-black);
	display: block;
	padding: 10px 134px;
}

.site-navigation a :hover{
	color: var(--basic-blue);
}

.site-navigation a:focus{
	color: var(--basic-red);
}

.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.mountains {
	position: relative;
	top: -10px;
	left: 0px;
	width: 1200px;
}

.sedona-slogan {
	position: absolute;
	width: 456px;
	height: 350px;
	top: 132px;
	left: 440px;
	z-index: 10;
}

.corner {
	position: absolute;
	z-index: 10;
	top: 509px;
	left: 83px;
}

.foreground {
	position: relative;
	z-index: 20;
	margin-top: 30px;
	margin-bottom: 51px;
}

.information-list {
	list-style: none;
}

.information-item-text {
	width: 400px;
	height: 256px;
	text-align: center;
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.information-item {
	display: flex;
	flex-direction: row;
	height: 256px;
}

.informatiom-item h3 {
	font-size: 21px;
	line-height: 21px;
}


.lifehack-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 124px;
	margin: 0;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 82px;
	list-style: none;
	background-color: var(--basic-grey);
	color: var(--basic-dark);
}

.lifehack-item p {
	margin: 0 10px;
}

.lifehack-item h3 {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}


.features-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 168px;
	margin: 0;
	padding: 0;
	margin-top: 47px;
	margin-bottom: 54px;
	list-style: none;
}

.features-item {
	text-align: center;
}

.features-item h3 {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}

.search {
	text-align: center;
}

.search h2 {
	color: var(--basic-black);
	font-size: 30px;
	line-height: 24px;
}

.search h3 {
	text-align: center;
	width: 568px;
	height: 86px;
	margin: 0;
	color: var(--basic-white);
	background-color: var(--basic-brown);
	margin-bottom: 55px;
}

.calendar {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 316px;
	width: 568px;
	height: 481px;
	background-color: var(--basic-white);
}

.calendar-item input {
	width: 346px;
	height: 38px;
	font: inherit;
	color: var(--basic-black);
	background-color: var(--special-light-grey);
	border: none;
	margin-bottom: 29px;
	position: relative;
}

.calendar-item input::after {
	content: "";
	position: absolute;
	width: 21px;
	height: 23px;
	background-image: url("img/calendar.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.calendar-item input:hover {
	background-color: var(--special-middle-grey);
}

.calendar-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-middle-grey);
}

.calendar-age input {
	width: 114px;
	height: 38px;
	font: inherit;
	color: var(--basic-black);
	background-color: var(--special-light-grey);
	border: none;
	margin-bottom: 54px;
}

.button {
	width: 458px;
	height: 58px;
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	background-color: var(--basic-blue);
	border: none;
	margin-bottom: 55px;
}

.button:hover {
	background-color: var(--special-blue);
}

.button:active {
	background-color: var(--special-dark-blue);
}

.inner-page {
	color: var(--basic-dark);
	background-color: var(--basic-grey);
}

.filter {
	color: var(--basic-white);
	text-align: left; 
}

.filter-box {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	align-content: start;
}

.filter-item legend {
	font-size: 16px;
	line-height: 21px;
}

.filter-item ul {
	list-style: none;
	font-size: 14px;
	line-height: 21px;
}

.filter button {
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	border: 2px;
}

.filter button:hover {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.choose {
	background-color: var(--basic-white);
	text-align: left;
}

.choose-title {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
}

.sorting-hotel {
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
}

.sorting-hotel-title {
	padding: 0;
	margin: 0; 
	font-size: 12px;
	line-height: 18px;
}

.search-results {
	display: grid;
	grid-column: 1 / -1;
	margin-bottom: 30px;
}

.sorting-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}

.sorting-item {
	color: var(--basic-blue);
}

.sorting-item a {
	color: var(--basic-grey);
	border-bottom: 1px dashed;
}

.sorting-item a:hover {
	color: var(--basic-blue);
	border-bottom: 1px dashed;
}

.sorting-item a:focus{
	color: var(--basic-black);
}

.hotels {
	background-color: var(--basic-white);
}

.hotels-title {
	text-align: left;
}

.hotels-list {
	list-style: none;
	text-align: left;
}

.hotels-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 151px;
	margin-top: 23px;
	margin-bottom: 33px;
	margin-left: 71px;
	margin-right: 87px;
	padding: 0;
}

.hotel-image {
	align-self: center;
	width: 135px;
	height: 90px;
}

.hotel-description {
	width: 650px;
	padding: 37px;
}

.hotels-item h3 {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
}

.hotels-item h3:hover {
	color: var(--basic-blue);
}

.hotels-item h3:focus {
	color: var(--basic-grey);
}

.details-link {
	width: 110px;
	height: 27px;
	padding: 2px 15px;
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.booking-link {
	width: 142px;
	height: 27px;
	padding: 2px 15px;
	color: var(--basic-white);
	background-color: var(--basic-brown);
}

.rating {
	justify-content: flex-end;
	align-self: flex-end;
	width: 83px;
	height: 21px;
	padding: 2px 15px;
	color: var(--special-brown);
	background-color: var(--special-grey);
}

.main-footer {
	padding: 23px 73px;
	margin-top: 23px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.main-footer .container {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.footer-contacts a{
	color: var(--basic-black);
	text-decoration: none;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 150px;
	margin: 0 auto;
	list-style: none;
}

.social-button {
	padding: 15px;
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--special-blue);
}

.social-button:focus {
	background-color: var(--special-dark-blue);
}

.social-button svg:focus {
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.copyright {
	width: 115px;
	height: 41px;
}

.copyright:hover {
	color: var(--basic-blue);
}

.copyright:focus {
	opacity: 0.3;
}